[Unit]
Description=Prepare Encrypted Auto-boot
Documentation=https://github.com/jamescostian/pea/-/blob/main/README.md

[Service]
Type=notify
ExecStart=pead.sh

[Install]
WantedBy=multi-user.target
